body{
	background: #b92b27;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565C0, #b92b27); 
	font-family: "Roboto Slab";
}

#container{
	margin-left:32%;
	margin-top: 8%;
	background: white;
	width: 36%;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	/*border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border: 0.1px solid rgba(0,0,0,0);*/
}

h1{
	font-weight: normal;
	margin: 0;
	height: 40px;
	background: #2980b9;
	padding: 5px;
	color: white;
	/*border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border: 0.1px solid rgba(0,0,0,0);*/
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	height: 40px;
	line-height: 40px;
}

li:hover{
	cursor: pointer;
}

li:hover span{
	width: 40px;
	opacity: 1;
}

input:focus{
	background: white;
	color: #2980b9;
	outline: none;
	border: 1px solid #2980b9;
}

li:nth-child(2n) {
	background: #e2e2e2;
}

input {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	border: 2px solid rgba(0,0,0,0);
	background: #e2e2e2;
	padding-left: 10px;
}

.done{
	text-decoration: line-through;
	color: grey;
	/*opacity: 0.5;*/
}

.fa-plus{
	float: right;
	font-size: 25px;
	padding-top: 7px;
}

.fa-plus:hover{
	cursor: pointer;
}

span{
	width: 0;
	opacity:0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: white;
	/*margin: 0;
	padding: 6px; */
	background: rgb(214, 58, 34);
	text-align: center;
	margin-right: 10px;
	transition: 0.2s linear;
}
